/* Global Styles */

@font-face {
    font-family: 'MontFont';
    src: url(../font/Mont-Regular.otf) format('otf');
    font-weight: 500;
}

@font-face {
    font-family: 'MontHeavy';
    src: url(../font/Mont-Heavy.otf) format('otf');
    font-weight: 800;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MontFont', sans-serif;
}

/* Header Styles */

header {
    background-color: #111D2E;
    z-index: 100;
    width: 100%;
    position: fixed;
}

li {
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

html{
    background-color: #F9F9F9;
}

h3{
    font-size: 18px;
}

.btn{
    display: inline-block;
    background-color: #111D2E;
    padding: 12px 12px;
}

.nav-item a {
    width: 100%;
    height: 100%;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-branding {
    font-size: 2rem;
    width: 100%;
}

.nav-link {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin: 0px;
    height: 100%;
}

.nav-item.active {
    background-color: #AE003C;
    color: white;
    width: 140px;
    margin: 0px;
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.textcontainer {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ticket {
    position: absolute;
    bottom: -40px;
    right: 0;
    background-color: #AE003C;
    color: white;
    padding: 20px 40px;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    margin-right: 80px;
    font-size: 32px;
    font-family: 'MontHeavy', sans-serif;
    font-weight: 900;
    animation: buttonAnimation 1s alternate infinite; /* Adjust the animation duration as needed */
    transition: transform 0.3s ease;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1); /* Initial size */
    }
    100% {
        transform: scale(1.1); /* Enlarged size */
    }
}

/* Mobile Styles */

@media (max-width: 1440px) {
    .ticket {
        position: absolute;
        bottom: -30px;
        right: 0;
        background-color: #AE003C;
        color: white;
        padding: 15px 30px;
        margin-right: 60px;
        font-size: 24px;
        font-family: 'MontHeavy', sans-serif;
        font-weight: 900;
        animation: buttonAnimation 1s alternate infinite; /* Adjust the animation duration as needed */
        transition: transform 0.3s ease;
    }
}

.topimage {
    text-align: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    z-index: 1;
    top: 100px;
}

.topimage img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Crop the image while maintaining its aspect ratio */
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #111D2E;
        width: 100%;
        height: 250px;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item.active {
        width: 100%;
    }

    .nav-item {
        width: 100%;
    }

    .navbar img {
        max-width: 100px;
        height: 100px;
    }

    .navbar {
        max-height: 10px;
    }
    .ticket {
    position: absolute;
    bottom: -20px;
    right: 0;
    background-color: #AE003C;
    color: white;
    padding: 10px 15px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'MontHeavy', sans-serif;
    font-weight: 900;
    animation: buttonAnimation 1s alternate infinite; /* Adjust the animation duration as needed */
    transition: transform 0.3s ease;
    }

    .topimage img {
        width: 100%;
        height: 250px;
        object-fit: cover; /* Crop the image while maintaining its aspect ratio */
        object-position: left top;
    }
}

.top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
    margin-top: 200px;
    gap: 24px;
    padding: 24px;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    padding: 28px;
    background-color: white;
    border-radius: 8px;
    max-width: 400px;
    min-width: 200px;
    color:#111D2E;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img :nth-child(1){
    width: 100%;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title{
    font-weight: 800;
    font-size: 28px;
}

.card-content{
    font-weight: 300;
}

.card-cta{
    display: flex;
    color: #AE003C;
    align-items: center;
    gap: 4px;
}

/* Top Image Styles */


.image-text {
    font-size: 24px;
    color: white;
    border-radius: 5px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: 'MontHeavy', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

/* Larger Screens Styles */

@media (min-width: 1440px) {
    .topimage {
        width: 100%;
    }
}



@keyframes buttonAnimation {
    0% {
        transform: scale(1); /* Initial size */
    }
    100% {
        transform: scale(1.1); /* Enlarged size */
    }
}

@media (min-width: 768px) {
    .image-text {
        font-size: 300%;
    }
}

/* Program Stylesheet (if exists) */

/* Timeline Styles */

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    margin-left: 30px;
}

/* Event Styles */

.event {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    overflow: visible;
}

.event .event-dot {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
}

.event .event-line {
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -11px;
    width: 2px;
    background-color: #ccc;
    z-index: 0;
}

.event-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    width: calc(100% - 40px);
    margin-left: auto;
}

.event:first-child .event-line {
    top: 0%;
}

.container-timeline{
    display: flex;
}

.timeline-card{
    width: 100%;
}

.hours{
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 174px;
    align-items: center;
}
