

html, body {
    background-color:  #111D2E;
    max-width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure it's above other content */
}



.header-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px; /* Adjust the height of the header as needed */
    background-color: rgba(17, 29, 46, 0.5); /* 50% opacity of #111D2E */
    z-index: 999; /* Ensure it's above other content */
    display: none; /* Initially hide */
}



.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    transition: background-color 0.5s ease, color 0.5s ease;

}

.nav-item.active {
    position: relative;
}

.nav-item.active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* Adjust this value as needed */
    width: 100%;
    height: 4px;
    background-color: #C53364;
}


.nav-menu {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 2vw;
}

.nav-branding {
    flex-grow: 1; /* Allow logo to grow and take up remaining space */
    flex-shrink: 0; /* Prevent logo from shrinking */
    
}

.nav-branding img {
    width: 15vh;
    height: auto;
    max-width: 150px;
    transform: scale(0.9)
}

li {
    list-style: none;
    font-size: 1.1vw;
    font-weight: 700;
    letter-spacing: 2px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-menu .nav-item a:hover {
    color: #C53364 /* Underline effect on hover */
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* 75% of viewport height */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.ticket-container{
    padding: 0px 10vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ticket-button {
    padding: 20px 32px; /* Increase padding for larger size */
    border: white solid 1px;
    border-radius: 60px;
    font-size: 2.5vh; /* Increase font size */

}

.ticket-button:hover{
    background-color: white;
    color: #111D2E;
}

#logo2 {
    top: 50%;
    left: 50%;
    transform: scale(0.60); 
    max-width: 100%;
    max-height: 100%;
}
  

.video-container3{
    position: relative;
    width: 100%;
    height: 100%; /* 75% of viewport height */
    overflow: hidden;
    display: block;
        max-height: 100vh; /* Set maximum height */
        margin: 10vh auto;
        display: flex;
        justify-content: center;
        align-items: center;
}

#playButton {
    position: absolute;
    font-size: 1.2em;
    bottom: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    color: #FFF;
    background-color: rgba(255, 225, 255, 0);
    border: none;
    background-size: contain;
    cursor: pointer;
    z-index: 10;
}

.myVideo {
    width: 100%;
    height: auto;
}

.embeddedVideo {
    width: 100%;
    height: 50vh;
}


.video2 {
        width: 100%; /* Allow the video to scale based on its aspect ratio */
        height: 10vh;
        object-fit: cover;
    
}


@keyframes pulse {
    0% {
        transform: scale(1);  /* Normal size */
    }
    50% {
        transform: scale(1.1);  /* Slightly larger */
    }
    100% {
        transform: scale(1);  /* Back to normal size */
    }
}


#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.60); 
    max-width: 100%;
    max-height: 100%;
}


.artist-spotlight{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 80px;
}

.tussen-titel{
    display: flex;
    flex-direction: column;
    color: white;
    
}

h1{
    font-size: 2.2vw;
}

h2{
    font-size: 1vw;
    color:lightslategray;
    letter-spacing: 1px;
}

.spotlight{
    font-size: 1.8vw;
    font-weight: 300;
}

h3{
    color: white;
    font-size: 1.4rem;
    letter-spacing: 1pxv;
    font-weight: 500;
    margin-top: 12px;
    text-align: left;
}

h4{
    margin-bottom: 20px;
}

.background-image{
    background-image: url('../img/BackgroundWebsite.png');
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: calc(50%) 0;

}

.pagefiller{
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}

.card-container {
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}


.card {
    flex-grow: 1;
    width: calc(25% - 15px);
    background-color: rgba(255, 225, 255, 0.1);
    box-sizing: border-box;
    min-width: 250px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

.card-text {
    margin: 1.4rem 0px;
}

.dj-picture {
    width: 100%;
    height: auto;
    z-index: 0;
}

.card-content {
    margin-bottom: 10px;
}

.card-text{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;;
}

.date-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgba(17, 29, 46, 0.5); /* Adjust background color as needed */
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 1.2rem;
    z-index: 1; /* Ensure the badge is on top */
}

.social-icon{
    width: 100%; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.social-icon:hover{
   transform: scale(1.2);
}

.hoofdsponsors {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items evenly */
    margin: 2.5% 0vw;
    gap: 5vw;
}



.partner {
    flex: 0 0 23%; /* Adjust width to fit four images in a row with a little space */
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
}


.sponsor-container img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;   
}

.sponsor-container {
    margin: 2.5% 0px 10vw 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* To hide the overflow of banners */
}

.banner-right, .banner-left {
    display: flex;
    white-space: nowrap; /* Prevent line breaks */
}

.colorbanner {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 50px; 
}

@keyframes move-banner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.banner-right, .banner-left {
    animation: move-banner 20s linear infinite; /* Adjust the duration as needed */
}

.banner-left {
    animation-direction: reverse;
}


.banner-right {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    padding: 12px 0px;
}


.banner-left{
    display: flex;
    justify-content: space-evenly; /* Distribute items evenly */
    padding: 12px 0px;
}

@media (max-width: 768px) {
    /* Adjust animation duration for smaller screens (e.g., mobile devices) */
    .banner-right, .banner-left {
        animation-duration: 25s; /* Slower animation for mobile */
    }
    .colorbanner {
        width: 200px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
        margin: 0 50px; 
    }
}

.sponsor-logos img{
    width: 100px;
}


footer{
    color: white;
    margin: 80px 10vw;
}

.footer-text{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
    
}

footer a{
    font-weight: 100;
}

p{
    font-size: 28px;
    font-weight: 100;
}



footer .footer-text a:hover, footer .footer-sponsors a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    color: #C53364 !important; 
}

.sponsor-logos {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 120px;
}

.sponsor-logos a{
    width: 100px;
}

.sponsor-logos img {
    max-width: auto;
        max-height: 80px;
        object-fit:scale-down;
}

.footer-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.full-width-line {
    margin-top: 60px;
    border: none;
    height: 1px;
    background-color: white;
    width: 100%;
}


.ticketshop{
    height: auto;
    margin-top: 120px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgba(255, 225, 255, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 20px;
}

.ticketshop img{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    margin-bottom: -28px;
}

#shop-frame iframe {
    /* Set the background color to black */
    background-color: black !important;
}


.practical-container{
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
    min-height: 800px;
    margin-top: 180px;
    gap: 24px;
}

.top-contents{
    padding: 0px 10vw;
}

.written-content{
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 100%;
}

.tab-menu {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* Allow horizontal scrolling for small screens */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: white; /* For Firefox */
    margin-bottom: 12px; /* 12px margin below the tab menu */
    padding-bottom: 12px; /* Add padding to ensure space for scrollbar */
}

.tab-buttons {
    white-space: nowrap; /* Prevent button text from wrapping */
    padding: 10px 20px; /* Adjust padding as needed */
}

.wegaanduiding{
    width: 100%;
    max-width: 500px;
    cursor: pointer;
}

/* Fullscreen overlay */
.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.contact h3{
    text-align: left;
}


.tab-buttons{
    flex-grow: 1; /* Make the buttons grow to fill available space */
    padding: 20px 60px;
    color: white;
    background-color: #111D2E;
    border: 2px solid #111D2E;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 900;
    min-height: 60px;
    cursor: pointer;
}

.tab-buttons.active{
    color: #111D2E;
    background-color: #fff;
    border: 2px solid #111D2E;
}

.written-content > div {
    display: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .written-content > div.active {
    display: block;
    transform: translateX(0);
  }
  
  .written-content > div.inactive-left {
    transform: translateX(-100%);
  }
  
  .written-content > div.inactive-right {
    transform: translateX(100%);
  }

  .ag-format-container {
    width: calc(100% - 20px); /* Adjusted width for margins */
    margin: 0 auto;
    padding-left: 10vw; /* 10vw margin from left on desktop */
    padding-right: 10vw; /* 10vw margin from right on desktop */
    position: relative;
  }

    .ag-timeline-card_meta {
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
  }

  .ag-timeline-card_desc {
    line-height: 1.45;
    font-size: 32px;
    color: #FFF;
    text-align: left;
  }



  .ag-timeline-card_meta_red{
    color: white;
    background-color: #DD3126;
    border-radius: 32px;
    padding: 10px 16px;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
  }

  .ag-timeline-card_meta_white{
    color: #111D2E;
    background-color: white;
    border-radius: 32px;
    padding: 10px 16px;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
  }


  .ag-timeline-card_meta_blue{
    color: white;
    background-color: #3AADE5;
    border-radius: 32px;
    padding: 10px 16px;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
  }

  .ag-timeline-card_meta_purple{
    color: white;
    background-color: #BB5BFA;
    border-radius: 32px;
    padding: 10px 16px;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
  }

  footer div {
    font-weight: 100;
  }

  
 
  

@media (max-width: 	1024px) {

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        background-color: rgba(17, 29, 46, 0); /* Initial transparent background */
        position: fixed; /* Changed from absolute to fixed */
        top: 100px;
        left: 0;
        width: 100%;
        gap: 3em;
        height: calc(100vh - 100px); /* Adjust height to account for the top position */
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease, background-color 0.5s ease;
        overflow-y: auto; /* Enable vertical scrolling */
        z-index: 1000; /* Ensure it's above other content */
    }

    .nav-item {
        display: none;
    }

    .nav-menu.active {
        display: flex;
        background-color: rgba(17, 29, 46, 1);
        color: white;
        visibility: visible;
        opacity: 1;
    }

    body.menu-open {
        overflow: hidden; /* Prevent body scrolling when menu is open */
    }

    .ticket-button {
        padding: 12px 16px; /* Increase padding for larger size */
        border: white solid 1px;
        border-radius: 60px;
        font-size: 2.5vh; /* Increase font size */
    }

    .nav-menu :nth-child(1) {
        padding-top: 1em;
    }

    .navbar {
        min-height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 15px;
        transition: background-color 0.5s ease, color 0.5s ease; /* Transition for background color and text color */
    }

    .navbar.active {
        background-color: rgba(17, 29, 46, 1);
        color: white; /* Adjust text color as needed */
    }

    .nav-link {
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 100vh; /* 75% of viewport height */
        overflow: hidden;
    }

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* 75% of viewport height */
    overflow: hidden;
}



h1{
    font-size: 1.8rem;
}

.spotlight{
    font-size: 1.4rem;
    font-weight: 300;
}

h2{
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 16px
}



.artist-spotlight{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-container{
    flex-wrap: wrap;
}

.card {
    width: calc(100% - 0px); /* Full width with margin */
    margin-right: 0; /* Remove margin-right */
}

footer{
   margin: 80px 20px;
}

.footer-text{
    display: flex;
    justify-content: left;
    gap:40px;
    font-size: 1rem;
}

.footer-sponsors{
    margin-top: 20px;
}

footer div div{
    min-width: 175px;
    width: auto;
}

footer div{
    font-weight: 100;
    font-size: 1rem;
}

h4 {
    margin-bottom: 8px;
}

.ticketshop{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.practical-container{
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    margin-top: 120px;
    gap: 24px;
}

.top-contents{
    padding: 0px 20px;
}

.tab-buttons {
    padding: 15px 16px;
    font-size: 18px;
    min-height: 50px;
  }

  .tab-buttons {
    background-color: rgba(255, 225, 255, 0.1);
  }



  .tab-menu {
    gap: 0px;
}

  .background-image{
    background-size: 200% auto; /* Maintain aspect ratio and fit width of the viewport */
    background-repeat: no-repeat;
    background-position: calc(50%) 0;

}

.ag-format-container {
    width: calc(100% - 20px); /* Adjusted width for margins */
    margin: 0 auto;
    padding-left: 20px; /* 10vw margin from left on desktop */
    padding-right: 20px; /* 10vw margin from right on desktop */
    position: relative;
  }

  .ag-timeline-card_meta {
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
  }

  .ag-timeline-card_desc {
    line-height: 1.45;
    font-size: 12px;
    color: #FFF;
   
  }


  .ag-timeline-card_meta_red{
    color: white;
    background-color: #DD3126;
    border-radius: 32px;
    padding: 5px 8px;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 12px;
  }


  .ag-timeline-card_meta_blue{
    color: white;
    background-color: #3AADE5;
    border-radius: 32px;
    padding: 5px 8px;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 12px;
  }

  .ag-timeline-card_meta_purple{
    color: white;
    background-color: #BB5BFA;
    border-radius: 32px;
    padding: 5px 8px;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 12px;
  }


}


/* Base styles */

  
  .ag-timeline-block {
    padding: 120px 0;
  }
  
  .ag-timeline_title-box {
    padding: 30px 30px 10vh 30px;
    text-align: center;
  }
  
  .ag-timeline_tagline {
    font-size: 40px;
    color: rgb(84, 89, 95);
  }
  
  .ag-timeline_title {
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3.5vw;
  }
  
  .ag-timeline_item {
    margin: 0 0 50px;
    position: relative;
  }
  
  .ag-timeline_item:nth-child(2n) {
    text-align: right;
  }
  
  .ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .ag-timeline_line {
    width: 2px;
    background-color: #393935;
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: white;
  }
  
  .ag-timeline-card_box {
    padding: 0 0 20px 50%;
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
  }
  
  .ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
  }
  
  .ag-timeline-card_point {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 3px solid white;
    background-color: #111D2E;
    text-align: center;
    font-family: 'ESL Legend', sans-serif;
    font-size: 20px;
    color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }



  
  .js-ag-active .ag-timeline-card_point {
    color: #1d1d1b;
    background-color: white;
  }
  
  .ag-timeline-card_meta-box {
    display: inline-block;
  }
  

  
  .ag-timeline-card_item {
    display: inline-block;

    width: 45%;
    margin: -77px 0 0;
    background-color: rgba(255, 225, 255, 0.1);
    opacity: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    box-shadow: 0 0 0 0 rgba(0,0,0,.5);
    -webkit-transition: -webkit-transform .5s, opacity .5s;
    -moz-transition: -moz-transform .5s, opacity .5s;
    -o-transition: -o-transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    position: relative;
  }
  
  .ag-timeline-card_item:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  
  .js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  
  .ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: white;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
  }
  
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
    right: auto;
    left: 0;
  }
  
  .ag-timeline-card_img {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0px 0px;
    object-fit: cover;
  }
  
  .ag-timeline-card_info {
    padding: 0.8rem 1.2rem;
  }
  
  .ag-timeline-card_title {
    display: none;
    margin: 10px 0 0;
    font-family: 'ESL Legend', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
  }

  .dj-name{
    font-weight: 800;
  }

.hour{
    font-weight: 300;
}  
 
  
  /*
  