/* Global Styles */

@font-face {
    font-family: 'MontFont';
    src: url(../font/Mont-Regular.otf) format('otf');
    font-weight: 500;
}

@font-face {
    font-family: 'MontHeavy';
    src: url(../font/Mont-Heavy.otf) format('otf');
    font-weight: 800;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MontFont', sans-serif;
    line-height: 1.6rem;
    font-size: 101%;
}

/* Header Styles */

header {
    background-color: #111D2E;
    z-index: 100;
    width: 100%;
    position: fixed;
    left: 0; /* Add this line to ensure the header spans full width */
    right: 0; /* Add this line to ensure the header spans full width */
}
}

li {
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

html{
    background-color: #F9F9F9;
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    font-size: 2.4rem;
    line-height: 1;
  font-weight: 900;
  text-transform: uppercase; /* Converts text to uppercase */
  letter-spacing: 2px; /* Adds letter spacing */
  color: #111D2E; /* Change the text color to your preference */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); 

}

h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #111D2E;
}

p{
    color: #111D2E;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.6;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 12px;
    border-radius: 4px;
    border: 1px solid #111D2E;
    color: #111D2E;
    font-size: medium;
    max-width: 300px;
}

.nav-item a {
    width: 100%;
    height: 100%;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-branding {
    font-size: 2rem;
    width: 100%;
}

.nav-link {
    transition: 0.7s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin: 0px;
    height: 100%;
}

.nav-item.active {
    background-color: #AE003C;
    color: white;
    width: 140px;
    margin: 0px;
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.ticket {
    position: absolute;
    bottom: -40px;
    right: 0;
    background-color: #AE003C;
    color: white;
    padding: 20px 40px;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    margin-right: 80px;
    font-size: 32px;
    font-family: 'MontHeavy', sans-serif;
    font-weight: 900;
    animation: buttonAnimation 1s alternate infinite; /* Adjust the animation duration as needed */
    transition: transform 0.3s ease;
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1); /* Initial size */
    }
    100% {
        transform: scale(1.1); /* Enlarged size */
    }
}

/* Mobile Styles */

@media (max-width: 1440px) {
    .ticket {
        position: absolute;
        bottom: -30px;
        right: 0;
        background-color: #AE003C;
        color: white;
        padding: 15px 30px;
        margin-right: 60px;
        font-size: 24px;
        font-family: 'MontHeavy', sans-serif;
        font-weight: 900;
        animation: buttonAnimation 1s alternate infinite; /* Adjust the animation duration as needed */
        transition: transform 0.3s ease;
    }
}

.topimage {
    text-align: center;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    z-index: 1;
    top: 100px;
}

.topimage img {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Crop the image while maintaining its aspect ratio */
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #111D2E;
        width: 100%;
        height: 250px;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item.active {
        width: 100%;
    }

    .nav-item {
        width: 100%;
    }

    .navbar img {
        max-width: 100px;
        height: 100px;
    }

    .navbar {
        max-height: 10px;
    }

    .ticket {
    position: absolute;
    bottom: -20px;
    right: 0;
    background-color: #AE003C;
    color: white;
    padding: 10px 15px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'MontHeavy', sans-serif;
    font-weight: 900;
    animation: buttonAnimation 1s alternate infinite; /* Adjust the animation duration as needed */
    transition: transform 0.3s ease;
    }

    .topimage img {
        width: 100%;
        height: 250px;
        object-fit: cover; /* Crop the image while maintaining its aspect ratio */
        object-position: left top;
    }

    .event-card {
        flex-direction: column;
        
    }

    .event-image {
        max-width: 100%;
        margin-right: 0;
        object-fit: cover;
    }

    .content-card{
        margin-top: 12px;
    }

    .tabs .tab-button {
        padding: 10px 20px;
        width: 100%;
        color: white;
        background-color: #111D2E;
        border: 1px solid #111D2E;
        border-radius: 4px;
        font-size: larger;
        margin: 0px 12px;
      }

      .tabs .tab-button .active {
        padding: 10px 20px;
        width: 100%;
        background-color: white;
        color: #111D2E;
        border: 1px solid #111D2E;
        border-radius: 4px;
        font-size: larger;
        margin: 0px 12px;
      }

      .tab-menu .tab-buttons{
        padding: 5px 10px;
        width: 100%;
        background-color: white;
        color: #111D2E;
        border: 2px solid #111D2E;
        border-radius: 4px;
        font-size: larger;
      }

      .practical-container .vertical-line{
        width: 0px;
      }

      .top-contents{
        margin-left: 12px;
        margin-right: 12px;
      }

      .written-content{
        width: 100%;
      }

      .practical-container .tab-menu{
        width: 100%;
      }

      .practical-container{
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: auto;
      }

      .practical-container .tab-menu{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
      }

      .widget{
        margin: 48px 0px;
        overflow-x: hidden; /* Add horizontal scrolling if necessary */
    }
}


/* Add this CSS to your stylesheet */
@media (min-width: 303px) and (max-width: 457px) {
    /* Set the max width for the widget container */
    .elfsight-app-b91924ae-f3d4-466f-a147-c2b6cdde1ba6.widget {
      max-width: 100%;
      overflow-x: hidden;
      margin-top: 48px;
    }

    body h2{
        font-size: 32px;
    }

    body h1{
        font-size: 32px;
    }
  }
  

.top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    gap: 48px;
    padding: 24px;
}

.social-medialink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 24px;
}

.widget{
    max-width: 1880px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 48px 0px;
}

.bottom-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px;
    gap: 48px;
}

.big-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
    background-color: white;
    border-radius: 8px;
    max-width: 900px;
    min-width: 200px;
    color:#111D2E;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0px 24px;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
    background-color: white;
    border-radius: 8px;
    max-width: 600px;
    min-width: 200px;
    color:#111D2E;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img :nth-child(1){
    width: 100%;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title{
    font-weight: 800;
    font-size: 28px;
}

.card-content{
    font-weight: 300;
}

.card-cta{
    display: flex;
    color: #AE003C;
    align-items: center;
    gap: 4px;
}

/* Top Image Styles */


.image-text {
    font-size: 24px;
    color: white;
    border-radius: 5px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: 'MontHeavy', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

/* Larger Screens Styles */

@media (min-width: 1440px) {
    .topimage {
        width: 100%;
    }
}




@keyframes buttonAnimation {
    0% {
        transform: scale(1); /* Initial size */
    }
    100% {
        transform: scale(1.1); /* Enlarged size */
    }
}

@media (min-width: 768px) {
    .image-text {
        font-size: 300%;
    }

    .tab-menu {
        position: sticky;
        top: 150px;
        align-self: flex-start;
        z-index: 1;
    }

    
}

/* Program Stylesheet (if exists) */

/* Timeline Styles */

.timeline {
    list-style: none;
    position: relative;
}

/* Event Styles */

.event {
    position: relative;
    margin-bottom: 20px;
    overflow: visible;
}

.event .event-dot {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #111D2E;
    border-radius: 100%;
}

.event .event-line {
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -7px;
    width: 4px;
    background-color: #111D2E;
    z-index: 0;
}

.event-card {
    display: flex;
    gap: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    width: calc(100% - 40px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1220px;
    margin-left: 16px;
    
}


.content-card {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
}


.heading-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.timeslot{
    font-weight: 200;
    font-size: 24px;
}

.dj-name{
    font-size: 32px;
    color: #111D2E;
}

.stage{
    font-size: 24px;
    color: dimgray;
    line-height: 1;
    font-weight: 540;
}

.info{
    font-weight: 300;
    padding: 20px 0px;
}

.event:first-child .event-line {
    top: 0%;
}

.event:last-child .event-line {
    bottom: 0%;
}

.timeline-card{
    width: 100%;
}

.timeline-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hours{
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 174px;
    align-items: center;
}

/* Footer Styles */

/* Footer Styles */

footer {
    background-color: #111D2E;
    color: #fff;
    padding: 20px 0;
    margin-top: 140px;
}

.footer-sponsors {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.footer-sponsors h3 {
    font-size: 20px;
}

.sponsor-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
}

.sponsor-logos img {
    width: 100px; /* Adjust the sponsor logo size as needed */
    height: auto;
}

.footer-company {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.footer-company-logo img {
    width: 150px; /* Adjust the company logo size as needed */
    height: auto;
    margin-bottom: 10px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

/* Add FontAwesome CSS if using icons from FontAwesome */
/* Example: */
/* link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" */

.tab-button {
    padding: 30px 60px;
    background-color: #111D2E;
    color: #fff;
    border: 2px solid #111D2E;
    border-radius: 4px;
    font-size: 32px;
    width: 100%;
    max-width: 600px;
    margin-left: 16px;
    min-height: 72px;
  }
  
  .tab-button.active {
    color: #111D2E;
    background-color: white;
    border: 2px solid #111D2E;
    border-radius: 4px;
  }
  
  /* Style for content sections */
  .tab-content {
    display: none;
    padding: 20px;
    margin: auto;
  }
  
  .tab-content.active {
    display: block;
  }

.tabs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    gap: 12px;
  }

  .header-with-triangles {
    display: flex;
    align-items: center;
}

.triangle-left,
.triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
    animation: pulse 1s infinite alternate;
}

.triangle-left {
    border-width: 15px 30px 15px 0;
    border-color: transparent #111D2E transparent transparent;
    margin-right: 24px; /* Adjust the spacing between text and triangle */

}

.triangle-right {
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #111D2E;
    margin-left: 24px; /* Adjust the spacing between text and triangle */
}


@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.event-image {
    flex: 1;
    max-width: 350px;
    max-height: auto;
    object-fit: cover;
}

.widget-push{
    padding: 24px;
}

.practical-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    gap: 24px;
}

.written-content{
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
}

.tab-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;

}

.tab-buttons{
    padding: 30px 60px;
    color: white;
    background-color: #111D2E;
    border: 2px solid #111D2E;
    border-radius: 8px;
    font-size: 32px;
    font-weight: 900;
    width: 100%;
    min-height: 72px;
}

.tab-buttons.active{
    color: #111D2E;
    background-color: #fff;
    border: 2px solid #111D2E;
}

.vertical-line{
    width: 4px;
    background-color: #111D2E;
    margin-left: 12px;
}

.horizontal-line{
    height: 4px;
    background-color: #111D2E;
}

iframe{
    margin: 24px 0px;
}